# Development dependencies
twine
build
pytest
pytest-cov
flake8
black
isort
questionary
semver
pip-audit
safety
python-dotenv

# Runtime dependencies
pydantic-ai==0.0.43
colorlog
pyyaml
peewee
beautifulsoup4
click
aiohttp

# Documentation
mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-material[imaging]
