# Development dependencies
twine
build
pytest
pytest-cov
flake8
black
isort
questionary

# Runtime dependencies
litellm
pydantic
diskcache
smolagents
smolagents[gradio]
colorlog
drf-pydantic
pyyaml
peewee
instructor
