# Development dependencies
twine
build
pytest
pytest-cov
flake8
black
isort
pip-audit
safety
tomli
tomli-w
questionary
semver

# Runtime dependencies
pydantic
pydantic-ai
colorlog
pyyaml
peewee
beautifulsoup4
python-dotenv

# Documentation
mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-minify-plugin
